
<h2>15 - Les formulaires : Reactive Form et FormGroup</h2>

<div>
    <fieldset>
        <legend>Contact</legend>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class = "container">
                <div formGroupName="credentials">
                    <label>
                        Username: <input type="text" formControlName="username" >
                    </label>
                    <label>
                        Email: <input type="text" formControlName="email">
                        {{ userForm.get('credentials.email')?.errors?.['rules'] }}
                        <div *ngIf="userForm.get('credentials.email')?.errors && !userForm.get('credentials.email')?.pristine" class="error-msg">
                            <div [hidden]="!userForm.get('credentials.email')?.errors?.['required']">password is required.</div>
                            <div [hidden]="!userForm.get('credentials.email')?.invalid">email is invalid.</div>
                        </div>
                    </label>
                    <label>
                        mdp: <input type="password" formControlName="mdp">
                        {{ userForm.get('credentials.mdp')?.errors?.['rules'] }}
                        <div *ngIf="userForm.get('credentials.mdp')?.errors && !userForm.get('credentials.mdp')?.pristine" class="error-msg">
                            <div [hidden]="!userForm.get('credentials.mdp')?.errors?.['required']">password is required.</div>
                            <div [hidden]="!userForm.get('credentials.mdp')?.invalid">password is invalid.</div>
                        </div>
                    </label>
                </div>

   
                <div formGroupName="address">
                    <label>
                        Adress: <input type="text" formControlName="adress">
                    </label>
                    <label>
                        CP: <input type="text" formControlName="cp">
                        Ville : <input type="text" formControlName="city">
                    </label>
                </div>
                <button type="submit" >Inscription</button>

            </div>
        </form>
    </fieldset>
</div>

<div>
    <ul *ngIf="isSave">
        <li>Username : {{ user.username }}</li>
        <li>Email : {{ user.email }}</li>
        <li>mdp : {{ user.password }}</li>
        <li>Adress : {{ user.adress }}</li>
    </ul>

</div>